<html>
<head>
	<script src="script/angular.min.js"></script>
	<script src="script/app.js"></script>
	<link href= "style/app.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div ng-app ="app">
		<div ng-controller="Ctrl">
			<div class="calculator">
				<div class="display">{{displayValue}}</div>
				<div class="equalSignKey" ng-click="compute()">
					{{ equalSignKey.label }}
				</div>
				<div class="clearDisplay" ng-click="clearClicked()" >
					{{clearDisplay.label}}
				</div>
				<div class="digitKey" ng-repeat="key in digitKeys"  ng-click="digitClicked(key.value)">
					{{ key.label }}
				</div>
				<div class="operationKey" ng-repeat="key in operationKeys"  ng-click="operationClicked(key.operation)">
					{{ key.label }}
				</div>
			</div>
		</div>
	</div>	
</body>
</html>